* {
    font-family: 'Press Start 2P', cursive;
}

body {
    -webkit-text-stroke: .5px black;
    text-shadow:
    3px 3px 0 #000,
    -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
    color: rgb(118, 230, 70);
    background-color: rgb(43, 43, 43);
    font-size: 36px;
    text-align: center;
}

.greeting {
    color: white;
    font-size: 45px;
    margin: 0px auto;
    margin: 20px 0;
    margin-top: 15%;
    text-align: center;
}

.image {
    max-height: 150px;
    max-width: 200px;
    margin: 20px 0;
}

main {
    color: white;
    font-size: 16px;
    margin:50px;
}

button {
    background-color: black;
    border: solid 2px white;
    color: white;
    -webkit-text-stroke: .25px black;
    text-align: center;
    height: 35px;
    width: 120px;
}

.answers-list {
    margin: auto;
    display: flex;
    flex-direction: row;
    height: 50px;
    justify-items: center;
    width: 400px;
}

.answers {
    align-items: center;
    color: rgb(50, 255, 47);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px 0;
    min-width: 200px;
    height: 40px;
}

button {
    background-color: black;
    border: solid 2px white;
    color: white;
    -webkit-text-stroke: .25px black;
    text-align: center;
    height: 35px;
    width: 120px;
}